@import "global/normalize.scss";
@import "global/fonts.scss";
@import "global/mixins.scss";

@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-banner.scss";
@import "blocks/main.scss";
@import "blocks/carousel.scss";
@import "blocks/slide.scss";
@import "blocks/controls.scss";
@import "blocks/specials.scss";
@import "blocks/catalog.scss";
@import "blocks/main-filter.scss";
@import "blocks/products-filter.scss";
@import "blocks/product.scss";
@import "blocks/blog.scss";
@import "blocks/widgets.scss";
@import "blocks/feedback.scss";
@import "blocks/socials.scss";
@import "blocks/main-footer.scss";
