@font-face {
  font-weight: normal;
  font-family: "Aller";
  font-style: normal;

  src: url("../fonts/aller_Rg.woff") format("woff"),
       url("../fonts/aller_Rg.woff2") format("woff2"),
       url('../fonts/aller_Rg.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: "Aller light";
  font-style: normal;

  src: url("../fonts/aller_Lt.woff") format("woff"),
       url("../fonts/aller_Lt.woff2") format("woff2"),
       url('../fonts/aller_Lt.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: "Aller";
  font-style: normal;

  src: url("../fonts/aller_Bd.woff") format("woff"),
       url("../fonts/aller_Bd.woff2") format("woff2"),
       url('../fonts/aller_Bd.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: "Aller";
  font-style: italic;

  src: url("../fonts/aller_It.woff") format("woff"),
       url("../fonts/aller_It.woff2") format("woff2"),
       url('../fonts/aller_It.ttf') format('truetype');
}





