@mixin container {
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

@mixin mark {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 68px;
  min-height: 67px;
  margin-bottom: 17px;
  padding: 0 5px;

  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;

  background-color: #57c5a0;
}
