.blog {
}

.blog__news {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;

  text-decoration: none;

  &:last-child {
    margin-bottom: 0;
  }

  &:visited {
    color: inherit;
  }
}

.blog__data {
  display: flex;
  flex-shrink: 0;
  flex-flow: column nowrap;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 9px;

  font-weight: bold;
  line-height: 12px;
  text-align: center;
  color: #ffffff;

  background-color: #57c5a0;
}

.blog__data-month {
  font-size: 10px;
  text-transform: uppercase;
}

.blog__data-day {
  font-size: 13px;
}

.blog__content {
  display: flex;
  flex-flow: column nowrap;

  line-height: 16px;
  color: #242424;
}

.blog__heading {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  font-weight: bold;
  font-size: 14px;
}

.blog__text {
  height: 16px;
  margin: 0;
  padding: 0;
  overflow-y: hidden;

  font-weight: 400;
  font-size: 12px;
}
