.feedback {
  width: 100%;
  padding-top: 37px;
  padding-bottom: 45px;

  background-color: #242424;
}

.feedback__inner {
  @include container;
  padding: 0 50px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.feedback__email-form {
  display: flex;
  flex-flow: row nowrap;
  width: 250px;
}

.feedback__email-input {
  box-sizing: border-box;
  flex: 1 0 auto;
  padding-left: 14px;
  padding-right: 5px;
  background-color: #2e2e2e;
  border: none;

  color: #7d7d7d;
  font-family: inherit;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;

  &::placeholder {
    color: #7d7d7d;
    font-family: inherit;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
  }
}

.feedback__email-submit {
  position: relative;
  width: 36px;
  height: 36px;
  flex: 0 0 36px;

  border: none;
  background-color: #7d7d7d;

  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(/img/arrow-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
  }

   &:hover {
    box-shadow: 0 0 1px 1px black;
  }
}

