.main-nav {
  width: 100%;

  font-weight: normal;
  font-family: Aller, Arial, Helvetica, sans-serif;

  background: #ffffff;
}

.main-nav__inner {
  @include container;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 60px;
}

.main-nav__menu-list {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__menu-item {
  display: flex;
  align-items: stretch;

  border-left: 1px solid #eeeeee;

  &:last-child {
    border-right: 1px solid #eeeeee;
  }
}

.main-nav__menu-link {
  display: flex;
  align-items: center;
  padding: 0 23px;

  font: inherit;
  font-size: 16px;
  line-height: 156%;
  color: #242424;
  text-decoration: none;

  &--active {
    color: #57c5a0;
  }
}

.main-nav__menu-link[href]:hover {
  color: darken(#242424, 10%);

  background-color: #eeeeee;
}

.main-nav__product--actions {
  display: flex;
  flex-flow: row nowrap;
}

.main-nav__product--actions a {
  position: relative;

  width: 90px;
  height: 60px;

  border-left: 1px solid #cccccc;
}

.main-nav__wishlist {
  background-image: url("../img/wishlist-icon.svg");
  background-repeat: no-repeat;
  background-position: 23px center;

  &:hover {
    background-color: #eeeeee;
  }
}

.main-nav__wishlist-quantity {
  position: absolute;
  top: calc(50% - 10px);
  right: 23px;

  width: 20px;
  height: 20px;

  font-weight: bold;
  font-size: 12px;
  line-height: 18px; //только при таком значении центруется цифра
  font-family: Aller;
  text-align: center;
  color: #ffffff;

  background-color: #adadad;
  border-radius: 4px;
}

.main-nav__cart {
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 23px center;

  &:hover {
    background-color: #eeeeee;
  }
}

.main-nav__cart-quantity {
  position: absolute;
  top: calc(50% - 10px);
  right: 23px;

  width: 20px;
  height: 20px;

  font-weight: bold;
  font-size: 12px;
  line-height: 18px; //только при таком значении центруется цифра
  font-family: Aller;
  text-align: center;
  color: #ffffff;

  background-color: #57c5a0;
  border-radius: 4px;
}







