.main-header {
  width: 100%;
  min-width: 960px;

  font-weight: normal;
  font-family: Aller, Arial, Helvetica, sans-serif;

  background-color: #242424;
}

.main-header__inner {
  @include container;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
}

.main-header__user-actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.main-header__search {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.main-header__search-label {
  z-index: 1;

  order: 2;
  width: 60px;
  height: 45px;

  background-color: #242424;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-right: 1px solid #707070;
  cursor: pointer;

  transition: background 0.2s ease;

  &:hover {
    background-color: lighten(#242424, 10%);
  }
}

input[type="search"] {
  z-index: 0;

  order: 1;
  width: 170px;
  height: 27px;

  border: none;
  border: 1px solid #707070;
  transform: translateX(200px);
  opacity: 0;

  transition: transform 1s ease, opacity 1s ease;
}

input.moving {
  transform: translateX(0px);
  opacity: 1;
}

.main-header__login {
  z-index: 2;

  display: flex;
  align-items: center;
  min-height: 45px;
  padding: 0 23px;

  font: inherit;
  font-size: 11px;
  color: #7e7e7e;
  text-decoration: none;

  background-color: #242424;
  border-right: 1px solid #707070;

  transition: color 0.2s ease;

  &:hover {
    color: lighten(#7e7e7e, 30%);

    transition: color 0.2s ease;
  }
}





