.products-filter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.products-filter__show-all {
  width: 100px;
  min-height: 30px;
  box-sizing: border-box;

  border: 1px solid #bcb5a7;
  background-color: #ebe7df;

  color: #bcb5a7;
  font-family: Aller, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
  text-align: center;

  &:hover {
    border-color: #898170;
    background-color: darken(#ebe7df, 20%);
    color: lighten(#bcb5a7, 20%);
  }
}

.products-filter__title {
  margin-right: 13px;

  color: #bcb5a7;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
}

.products-filter__view-type {
  width: 30px;
  height: 30px;
  margin-right: 9px;
  appearance: none;

  background-color: transparent;
  border: 1px solid #bcb5a7;
  background-repeat: no-repeat;
  background-position: center center;

  cursor: pointer;

  &:first-of-type {
    background-image: url(../img/filter-icon1.svg);
  }

  &:nth-of-type(2) {
    background-image: url(../img/filter-icon2.svg);
  }

  &--long {
    width: 200px;
    margin-left: 11px;
    padding: 0;

    font-family: inherit;
    text-align: center;
    color: #bcb5a7;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;

    background-image: url(../img/sort-icon.svg);
    background-position: center right 13px;
  }

  &:hover {
    border-color: #898170;
  }

}
