.product {
  position: relative;

  font-family: Aller, Arial, Helvetica, sans-serif;

  background-color: #ffffff;
  box-shadow: 0 0 4px rgb(111, 102, 81);
}

.product__photo {
  position: relative;

  width: 100%;
  height: 220px;

  border-bottom: 1px solid #cccccc;
}

.product__photo img {
  position: absolute;
  top: 15px;
  left: 65px;
}

.product__alert {
  position: absolute;
  top: 0;
  right: 13px;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 68px;
  height: 67px;

  &::after {
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }

  &--onsale {
    background-color: #242424;

    &::after {
      content: "on sale";
    }
  }

  &--outstock {
    background-color: #f27e4b;

    &::after {
      content: "out of stock";
    }
  }
}

.product__about {
  position: relative;

  min-height: 49px;
}

.product__price {
  @include mark;

  position: absolute;
  bottom: 0;
  left: 12px;

  margin-bottom: 0;
}

.product__title {
  padding: 15px 0 5px 93px;

  font-size: 18px;
  line-height: 20px;
  color: #242424;
}

.product__actions-menu {
  position: absolute;
  top: 4px;
  left: 105px;

  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: transparent;
  visibility: hidden;
}

.product__actions-item {
  display: flex;
  width: 40px;
  margin-right: 2px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;

  transition: background 0.2s ease;

  &--view {
    background-image: url("../img/view-icon.svg");
  }

  &--wishlist {
    background-image: url("../img/wishlist-icon.svg");
  }

  &--share {
    background-image: url("../img/share-icon.svg");
  }

  &--buy {
    margin-right: 0;

    background-image: url("../img/buy-icon.svg");
  }

  &:active {
    background-color: darken(#ffffff, 25%);
    box-shadow: inset 0 0 3px 0 #333333;
  }

  &:hover {
    background-color: darken(#ffffff, 10%);
  }
}

.product__actions-link {
  display: block;
  width: 100%;
}

.product:hover .product__title,
.product:active .product__title {
  visibility: hidden;
}

.product:hover .product__actions-menu,
.product:active .product__actions-menu {
  visibility: visible;
}


