.products-filter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.products-filter__show-all {
  box-sizing: border-box;
  width: 100px;
  min-height: 30px;

  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  font-family: Aller, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #bcb5a7;
  text-decoration: none;

  background-color: #ebe7df;
  border: 1px solid #bcb5a7;

  transition: background 0.2s ease, color 0.2s ease;

  &:hover {
    color: lighten(#bcb5a7, 20%);

    background-color: darken(#ebe7df, 20%);
    border-color: #898170;

    transition: background 0.2s ease, color 0.2s ease;
  }
}

.products-filter__title {
  margin-right: 13px;

  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #bcb5a7;
}

.products-filter__view-type {
  width: 30px;
  height: 30px;
  margin-right: 9px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #bcb5a7;
  cursor: pointer;

  transition: border 0.3s ease;

  &:first-of-type {
    background-image: url(../img/filter-icon1.svg);
  }

  &:nth-of-type(2) {
    background-image: url(../img/filter-icon2.svg);
  }

  &--long {
    width: 200px;
    margin-left: 11px;
    padding: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    font-family: inherit;
    text-align: center;
    color: #bcb5a7;

    background-image: url(../img/sort-icon.svg);
    background-position: center right 13px;

    transition: border 0.3s ease;
  }

  &:hover {
    border-color: #898170;
  }
}
