.slide__image {
  position: absolute;
  display: block;
  left: -231px;
  width: 778px;
  height: 460px;
}

.slide__content {
  position: relative;
  padding-top: 70px;
  margin-left: 511px;
  z-index: 2;
}

.slide__price {
  @include mark;
}

.slide__heading {
  display: block;
  width: 290px;
  margin-bottom: 12px;

  font-family: "Aller light", Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 100%;
  color: #242424;
  text-align: left;

}

.slide__desc {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  width: 390px;

  font-family: "Aller light", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 125%;
  color: #242424;
}

.slide__actions-menu {
  position: relative;
  background-color: transparent;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 40px;

  display: flex;
  flex-flow: row nowrap;
}

.slide__actions-item {
  display: flex;
  width: 40px;
  margin-right: 2px;

  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;

  &--view {
    background-image: url("../img/view-icon.svg");
  }

  &--wishlist {
    background-image: url("../img/wishlist-icon.svg");
  }

  &--share {
    background-image: url("../img/share-icon.svg");
  }

  &--buy {
    background-image: url("../img/buy-icon.svg");
    margin-right: 0;
  }

  &:active {
    background-color: darken(#fff, 15%);
    box-shadow: inset 0 0 3px 0 #333;
  }

  &:hover {
    background-color: darken(#fff, 5%);
  }
}

.slide__actions-link {
  display: block;
  width: 100%;
}

#slide1:checked ~ .carousel__slider .slide--1 {
  opacity: 1;
}

#slide2:checked ~ .carousel__slider .slide--2 {
  opacity: 1;
}

#slide3:checked ~ .carousel__slider .slide--3 {
  opacity: 1;
}

#slide4:checked ~ .carousel__slider .slide--4 {
  opacity: 1;
}

#slide5:checked ~ .carousel__slider .slide--5 {
  opacity: 1;
}


