.specials {
  width: 100%;

  background-color: #242424;
}

.specials__inner {
  @include container;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 230px;
}

.specials__link {
  position: relative;

  width: 300px;
  height: 180px;
  margin-right: 20px;

  text-decoration: none;

  opacity: 0.7;

  &:last-child {
    margin-right: 0;

    &::after {
      content: "must have";
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 90px);

    box-sizing: border-box;
    width: 180px;
    height: 60px;

    font-size: 25px;
    line-height: 60px;
    font-family: "Aller light", Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

    background-color: rgba(#000000, 0.7);
  }

  &:first-child::after {
    content: "on sale";
  }

  &:nth-child(2)::after {
    content: "special offers";
    left: calc(50% - 115px);

    width: 230px;
  }

  &:hover {
    transform: scale(1.1);
    opacity: 1;

    &::after {
      opacity: 0;
    }
  }
}
