.widgets {
  width: 100%;

  background-color: #242424;
  border-bottom: 1px solid #1c1c1c;
}

.widgets__inner {
  @include container;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  min-height: 245px;
  padding: 50px 50px;
}

.widgets__item {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  width: 200px;
  min-height: 150px;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.widgets__heading {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  color: #7d7d7d;
  text-transform: uppercase;
}

.widgets__text {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  text-align: justify;
  color: #a4a4a4;
  font-style: italic;

  & em {
    color: #57c5a0;
  }
}

.widgets__text-data {
  margin-top: 6px;
  margin-bottom: 12px;

  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #c4c5bf;
  font-style: italic;

  &:last-child {
    margin-bottom: 0;
  }
}
